.local-main-title {
    display: inline-block;
    color: #222222;
    width:30%;
    font-weight: bold;
    vertical-align: top;

}

.local-main-content-wrapper {
    display: inline-block;
    width: 70%;
}

.local-main-content-title {
    font-weight: bold;
}

.local-main-content-appendix {
    color: lightgrey;
    font-size: 12px;
}

.local-main-content-appendix a {
    color : blue;
    cursor: pointer;
}


.combo-box-language {
    width: 300px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #eeeeee;
    border: 1px solid lightgrey;
}


.combo-box-timezone {
    width: 300px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #eeeeee;
    border: 1px solid lightgrey;
}

.combo-box-currency {
     width: 300px;
     height: 30px;
     margin-top: 10px;
     margin-bottom: 10px;
     background-color: #eeeeee;
     border: 1px solid lightgrey;
 }